#portfolio{
    position: relative;
    /* height: 75vh; */
 
} 
/* .main-container-portfolio{
    width: 100%;
    text-align: center;
} */
.potfolio_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio_items{
    /* background: var(--color-bg-variant); */
    box-shadow:0px 0px 7px #95BDFF;
    padding: 1rem;
    border-radius: 5px;
    /* border: 1px solid black; */
    transition: var(--transition);
    text-align: start;
    background: #F9F5F6;
    color: black;

}
.portfolio_items:hover{
    /* border-color: var(--color-primary-variant); */
    background: rgba(0,0,0,0.8);
    color: white;
    
}
.portfolio_item_img{
    border-radius: 3px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 8px black;
}

.portfolio_items h5{
    margin: 10px;
    letter-spacing: 1px;
}
.portfolio_items p{
    font-size: 12px;
    letter-spacing: 1px;margin: 0 10px 10px;
}
.portfolio_items p a{
    color: darkblue;
    font-weight: 500;
    text-decoration: underline;
}
.portfolio_items-cta{
   display: flex;
   gap: 1rem;
   margin-bottom: 1rem;
}

/* =============== Media Query ================ */
@media screen and (max-width:1024px) {
    .potfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        /* width: 90%; */
    }
}

@media screen and (max-width:600px) {
    .potfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
