
.container.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap:12%;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 30px;
    
}
.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
}
.contact_option{
    background: whitesmoke;
    color: black;
    /* box-shadow: var(--box-shadow); */
    padding: 1.2rem;
    /* border: 3px solid darkblue; */
    border-radius: 1rem;
    transition: var(--transition);
    text-align: center;
    box-shadow: 0px 0px 10px #562B08;
}
.contact_option:hover{ 
    /* border-color: var(--color-primary-variant); */
    transform: scale(1.05 );
}

.contact_option_icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    
}
.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
.whatsapp_message{
    border:none;
    display: inline-block;
    font-size: 0.8rem;
    color: var(--color-primary);
    cursor: pointer;

}
.contact_option .whatsapp_message:hover{
    color: green;
}
.contact_option a:hover{
    color: green;
}

/* ========== Form CSS ============ */
form{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    /* border: 2px solid var(--color-bg-variant); */
    background: linear-gradient(140deg, transparent, #303e2a);
    box-shadow: var(--box-shadow);
    border: none;
    resize: none;
    color: var(--color-white);
}

/* ===================Media QUERIES (Medium Devices) ============== */
@media screen and (max-width:1024px) {
   .container.contact_container{
    grid-template-columns: 1fr;
    gap: 2rem;
   }
}


@media screen and (max-width:600px) {
    .container.contact_container{
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
    }
}